<div>
  <app-create-todo></app-create-todo>
  
  <div class="row">
      <div class="col-md-4">
        <h3>I gotta do this!</h3>
        <app-todo-list status="Todo"></app-todo-list>
      </div>
      <div class="col-md-4">
        <h3>I'm doing this now!</h3>
        <app-todo-list  style="color: rgb(224, 100, 224);" status="Doing"></app-todo-list>
      </div>
      <div class="col-md-4">
        <h3>It's Done!</h3>
        <app-todo-list style="text-decoration: line-through;" status="Done"></app-todo-list>
      </div>
    </div>
  </div>